* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0rem 3rem 0rem;
    font-family: "Times New Roman";
    font-size: 2rem;
}

.accordion-container{
    display: flex;
    flex-direction: column;
}
.article{
    display: flex;
    justify-content: center;
}
.article b{
    cursor: pointer;
    margin-top: 1rem;

}
.tab-close {
    background: url("img/x.svg") no-repeat;
    width: 1rem;
    height: 1rem;
    margin-left: 15rem  ;
}
.tab-close:hover{
    cursor: pointer;
}
.accordion-img{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}